body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

.MainHeader{
    margin: 0;
    background-image: url(../img/giphy-23.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.MainHeader h1{
    margin: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    background-color: black;
    border-bottom: solid 2px red;
    text-shadow: red 2px 0 10px;
}
.header_content{
    margin: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    background-color: black;
    border: red solid 2px;
    text-shadow: red 2px 0 10px;
}
.l{
    margin: 0;
    padding-top: 30%;
    text-align: center;
    width: 100%;
    height: 50%;
}

a{
    background-color: black;
    color: white;
    text-shadow: red 2px 0 10px;
    border: 2px solid red;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
button:hover{
    opacity: .7;
}

.stuff{
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}
.stuff p{
    width: 25%;
    padding: 20px;
}

.e{
    color: red;
}